h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $gray-900;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.45;
  color:$white;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 800;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}