$body-font: "Inter", sans-serif;
$heading-font: 'Satoshi', sans-serif;

$base-font: 16px;

//Neutral Tone
$white: #ffffff;
$black: #191919;

//Gray Tone
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

//primary Tone
$blue-50: #f0edff;
$blue-100: #dbeafe;
$blue-700: #3044c5;
$blue-800: #3044c5;
$blue-950: #172554;

$blue: #009aff;
$bg-secondary: #FF6A4D;
$bg-tetradic: #E2FF4D;

//warning
$yellow: #fcde2b;
$error: #e61728;
$success: #00d17e;

$transition: all 0.2s ease-in-out;