<input type="checkbox" id="navcheck" aria-label="Toggle navigation"/>
<div class="nav-btn">
  <label htmlfor="navcheck">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>
<!--Hamburger menu end-->

<!--Header start-->
<header class="header" id="header">
  <nav class="navbar">
    <!--Logo-->

    <div class="logo">
      <a href="/">
        <img src="/assets/images/logo-dark.svg" alt="Serplux" title="Serplux" width="120" height="30">
      </a>
    </div>

    <!--Navigation-->
    <ul class="nav-menu">



      <li class="nav-item ismobile">

        <div class="btn-scondary">
          <a href="https://serplux.com/auth" class="btn btn-primary" target="_blank"> Login</a>
        </div>


      </li>
    </ul>
    <div class="nav-right">
      <ul class="nav-menu">
        <!-- <li class="nav-item">
          <a class="nav-link" href="https://serplux.com/tools" target="_blank">Free AI Tools
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://serplux.com/pricing/">Pricing
          </a>
        </li>
       

        <li class="nav-item">
          <a href="https://serplux.com/auth" class="">Login</a>
        </li>
        
        <li class="nav-item btn-link">
          <a href="https://serplux.com/auth" class="btn btn-primary">Get Started Free</a>
        </li>

      </ul>
    </div>
    <!--Navigation-->
  </nav>
</header>