<meta charset="utf-8" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<meta name="theme-color" content="#000000" />
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />

<!-- Keywords for SEO -->
{{ with .Params.keywords }}
<meta name="keywords" content="{{ delimit . ", " }}" />
{{ else if .Site.Params.keywords }}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}" />
{{ end }}

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Serplux" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Params.title }} | Serplux" />
<meta property="og:description"
  content="{{ .Params.description }}" />
<meta property="og:image" content="https://serplux.com/frontend/images/hero-og.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@SerpluxAI" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ .Params.title }} | Serplux" />
<meta name="twitter:description"
  content="{{ .Params.description }}" />
<meta name="twitter:image" content="https://serplux.com/frontend/images/hero-og.png" />

<title>{{ .Params.title }} | Serplux</title>
<link rel="canonical" href="{{ .Permalink }}" />


{{ if .IsHome }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "World's #1 AI Agents for Instant Marketing Solutions | Serplux",
    "url": "https://serplux.com/",
    "description": "",
    "logo": "https://serplux.com/frontend/images/logo.png",
    "sameAs": [
      "https://x.com/SerpluxAI",
      "https://www.linkedin.com/company/serplux/"
    ]
  }
</script> 
{{ else }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  "description": "{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ with .Params.featured_image }}{{ . }}{{ else }}{{ .Site.Params.ogimage }}{{ end }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ with .Params.author }}{{ . }}{{ else }}{{ with .Site.Params.author }}{{ . }}{{ else }}Serplux Team{{ end }}{{ end }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Serplux",
    "logo": {
      "@type": "ImageObject",
      "url": "https://serplux.com/frontend/images/logo.png"
    }
  },
}
</script>

{{ end }}