
<!--  Title Tags -->
<title itemprop="name">Tag {{ .Data.Term }}, In-Depth Guides | {{ .Site.Params.blogtitle }}</title>
<meta property="og:title" content="Tag {{ .Data.Term }}, In-Depth Guides for Marketers | {{ .Site.Params.blogtitle }}" />
<meta name="twitter:title" content="Tag {{ .Data.Term }}, In-Depth Guides for Marketers | {{ .Site.Params.blogtitle }}" />
<meta itemprop="name" content="Tag {{ .Data.Term }}, In-Depth Guides for Marketers | {{ .Site.Params.blogtitle }}" />
<meta name="application-name" content="Tag {{ .Data.Term }}, In-Depth Guides for Marketers | {{ .Site.Params.blogtitle }}" />
<meta property="og:site_name" content="Tag {{ .Data.Term }}, In-Depth Guides for Marketers | {{ .Site.Params.blogtitle }}" />


<meta property="og:type" content="website">

<!--  Description Tags -->
<meta name="description" content="Serplux blog posts tagged with - {{ .Data.Term | upper }}" />
<meta itemprop="description" content="Serplux blog posts tagged with - {{ .Data.Term | upper }}" />
<meta property="og:description" content="Serplux blog posts tagged with - {{ .Data.Term | upper }}" />
<meta name="twitter:description" content="Serplux blog posts tagged with - {{ .Data.Term | upper }}" />

<!--  Link Tags -->
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />

<!--  Image Tags -->
<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" /> 
